/*colors*/

/*-----ispaleoid*/
.button.is-paleoid{background-color:#00008a;border-color:transparent;color:#fff}.button.is-paleoid.is-hovered,.button.is-paleoid:hover{background-color:#0e0e99;border-color:transparent;color:#fff}.button.is-paleoid.is-focused,.button.is-paleoid:focus{border-color:transparent;color:#fff}.button.is-paleoid.is-focused:not(:active),.button.is-paleoid:focus:not(:active){box-shadow:0 0 0 .125em #00009e47}.button.is-paleoid.is-active,.button.is-paleoid:active{background-color:#000092;border-color:transparent;color:#fff}.button.is-paleoid[disabled],fieldset[disabled] .button.is-paleoid{background-color:#00008a;border-color:transparent;box-shadow:none}.button.is-paleoid.is-inverted{background-color:#fff;color:rgb(0, 0, 124)}.button.is-paleoid.is-inverted.is-hovered,.button.is-paleoid.is-inverted:hover{background-color:#f2f2f2}.button.is-paleoid.is-inverted[disabled],fieldset[disabled] .button.is-paleoid.is-inverted{background-color:#fff;border-color:transparent;box-shadow:none;color:#00008a}.button.is-paleoid.is-loading::after{border-color:transparent transparent #fff #fff!important}.button.is-paleoid.is-outlined{background-color:transparent;border-color:#00008a;color:#00008a}.button.is-paleoid.is-outlined.is-focused,.button.is-paleoid.is-outlined.is-hovered,.button.is-paleoid.is-outlined:focus,.button.is-paleoid.is-outlined:hover{background-color:#0f0f9e;border-color:#0f0f9e;color:#fff}.button.is-paleoid.is-outlined.is-loading::after{border-color:transparent transparent #1616ad #0f0f9b!important}.button.is-paleoid.is-outlined.is-loading.is-focused::after,.button.is-paleoid.is-outlined.is-loading.is-hovered::after,.button.is-paleoid.is-outlined.is-loading:focus::after,.button.is-paleoid.is-outlined.is-loading:hover::after{border-color:transparent transparent #fff #fff!important}.button.is-paleoid.is-outlined[disabled],fieldset[disabled] .button.is-paleoid.is-outlined{background-color:transparent;border-color:#1616ad;box-shadow:none;color:#1616ad}.button.is-paleoid.is-inverted.is-outlined{background-color:transparent;border-color:#fff;color:#fff}.button.is-paleoid.is-inverted.is-outlined.is-focused,.button.is-paleoid.is-inverted.is-outlined.is-hovered,.button.is-paleoid.is-inverted.is-outlined:focus,.button.is-paleoid.is-inverted.is-outlined:hover{background-color:#fff;color:#1616ad}.button.is-paleoid.is-inverted.is-outlined.is-loading.is-focused::after,.button.is-paleoid.is-inverted.is-outlined.is-loading.is-hovered::after,.button.is-paleoid.is-inverted.is-outlined.is-loading:focus::after,.button.is-paleoid.is-inverted.is-outlined.is-loading:hover::after{border-color:transparent transparent #1616ad #1616ad!important}.button.is-paleoid.is-inverted.is-outlined[disabled],fieldset[disabled] .button.is-paleoid.is-inverted.is-outlined{background-color:transparent;border-color:#fff;box-shadow:none;color:#fff}

/*generic*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------ Landing -------------*/
.logo{
  max-width: 10em;
  margin-bottom: 2em;
}
button > img {
  height: 1em;
  margin-right: 0.5em;
}

/*------------ Timetable ------------*/
#timetable{
  width: 100%;
}
.data{
  display: flex;
  gap: 1em;
}
.sub{
  background-color: #48c78e;
  color: white;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: 600;
  width: 4em;
  text-align: center;
}
.report{
  background-color: #d8d8d8;
  padding: 1em;
}
.report>i{
  float: right;
}
.report>div{
  margin-top: 0.5em;
  display: flex;
  gap: 1em;
}
.report.closed{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.report.closed>div{
  display:none;
}